@import 'punkweb_boards/scss/open-color';

html, body {
  background: rgba($oc-gray-2, .55) url('../img/head.jpg') no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: hue;
}
