django>=3.0
gunicorn

coreapi
djangorestframework
django-cors-headers
django-compressor
django-libsass
python-memcached
psycopg2
mutagen
boto3
django-storages

git+https://github.com/Punkweb/punkweb-boards.git
