django
gunicorn

django-simple-captcha
djangorestframework
django-cors-headers
django-compressor
django-sass-processor
libsass
python-memcached
psycopg2

git+https://github.com/shakedown-street/punkweb-boards.git
