.flexContainer {
  display: flex;
  flex-direction: row;
}

.main {
  flex: 3;
}

.nav {
  flex: 1;
  margin-left: 1rem;
}

.foot {
  margin-top: 2rem;
}

.foot li {
  display: inline-block;
}

.canvasContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

canvas {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.disc {
  list-style: disc;
  margin: 1rem 0;
  padding-left: 40px;
}

@media only screen and (max-width: 840px) {
  .flexContainer {
    flex-direction: column;
  }
  .nav {
    margin-left: 0;
    margin-top: 1rem;
  }
  .hideOnMobile {
    display: none;
  }
  .musicPlayer__controls {
    margin: 0;
  }
}
