{% extends 'punkweb/base.html' %}
{% load static bbcode_tags thumbnail %}

{% block title %}Music | {{album.artist.name}} | {{album.title}}{% endblock %}

{% block main %}
<div class="main" style="margin-bottom: 140px;">
  <br><br>
  <div>
    <a href="{% url 'music:artist' album.artist.slug %}">Back to {{album.artist.name}}</a>
  </div>
  <br>
  <div>
    <img src="{{album.cover_art|thumbnail_url:'avatar'}}" alt="" />
    <h4>{{album.title}}</h4>
    <p>{{album.release_date|date:'Y'}} • {{songs.count}} song{{songs.count|pluralize:",s"}}</p>
    <p></p>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th width="75px">
            #
          </th>
          <th>
            Title
          </th>
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <td>{{song.track_num}}</td>
          <td>
            <a class="trackTitle" data-index="{{forloop.counter0}}" data-title="{{song.title}}" data-artist-name="{{song.album.artist.name}}" data-art-url="{{song.album.cover_art|thumbnail_url:'avatar_small'}}" data-file="/media/{{song.file}}">{{song.title}}</a>
            <!-- <a href="{% url 'music:audio' song.slug %}">{{song.title}}</a> -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="musicPlayer">
  <div class="musicPlayer__container">
    <div class="musicPlayer__info hideOnMobile">
      <div class="musicPlayer__image">
        <img id="songImage" alt="">
      </div>
      <div>
        <div id="songName"></div>
        <div id="artistName"></div>
      </div>
    </div>
    <div class="musicPlayer__controls">
      <div class="musicPlayer__buttons">
        <button class="button" id="play"><i class="fas fa-play"></i></button>
        <button class="button" id="pause"><i class="fas fa-pause"></i></button>
      </div>
      <div class="musicPlayer__flex">
        <div id="currentTime"></div>
        <div class="musicPlayer__trackerContainer" id="trackerContainer">
          <div id="tracker"></div>
          <div id="tracked"></div>
        </div>
        <div id="totalTime"></div>
        <div class="musicPlayer__flex hideOnMobile">
          <i class="fas fa-volume-up" id="volumeIcon"></i>
          <div class="musicPlayer__volumeContainer" id="volumeContainer">
            <div id="volume_tracker"></div>
            <div id="volume_level"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
$(document).ready(function() {
  var audio = document.createElement('audio');
  var trackNum = 0;
  var srcList = [];
  {% for song in songs.all %}
  srcList.push({
    'title': '{{song.title}}',
    'artist': '{{song.album.artist.name}}',
    'album': '{{song.album.title}}',
    'release_date': '{{song.album.release_date}}',
    'image': '{{song.album.cover_art|thumbnail_url:"avatar"}}',
    'file': '/media/{{song.file}}'
  });
  {% endfor %}
  var musicPlayer = $('.musicPlayer');
  var artistName = $('#artistName');
  var songName = $('#songName');
  var songImage = $('#songImage');
  init();

  function init() {
    audio.volume = 1;
    $('#volume_level').width('100%');
    $('#currentTime').text('0:00');
    $('#totalTime').text('0:00');
  }

  function updateInfo() {
    artistName.text(srcList[trackNum].artist);
    songName.text(srcList[trackNum].title);
    songImage.attr('src', srcList[trackNum].image);
  }

  function loadTrack(index) {
    trackNum = index;
    musicPlayer.show();
    audio.setAttribute('src', srcList[index].file);
    audio.load();
    audio.play();
    updateInfo();
  }

  function timeFormat(time) {
    var hrs = Math.floor(time / 3600);
    var mins = Math.floor(time / 60);
    var secs = Math.floor(time - mins * 60);
    var str = '';

    if (hrs > 0) {
      str += '' + hrs + ":" + (mins < 10 ? '0' : '');
    }

    str += '' + mins + ':' + (secs < 10 ? '0' : '');
    str += '' + secs;
    return str;
  }

  audio.addEventListener('ended', function() {
    if (trackNum >= srcList.length - 1) {
      return;
    }
    trackNum++;
    loadTrack(trackNum);
  }, false);
  audio.addEventListener('canplay', function() { }, false);
  audio.addEventListener('timeupdate', function() {
    $('#currentTime').text(timeFormat(audio.currentTime));
    $('#totalTime').text(timeFormat(audio.duration));
    $('#tracked').width(((audio.currentTime/audio.duration)  * 100) + '%');
  }, false);
  $('#play').click(function() {
    audio.play();
  });
  $('#pause').click(function() {
    audio.pause();
  });
  $('.trackTitle').click(function() {
    var self = $(this);
    var index = parseInt(self.attr('data-index'));
    loadTrack(index);
  });
  $('#volumeContainer').click(function(e) {
    var self = $(this);
    var offset = self.offset();
    var x = e.clientX - offset.left;
    var y = e.clientY - offset.top;
    var width = self.width();
    var clickPercent = (x / width);
    if (clickPercent > .95) {
      clickPercent = 1;
    } else if (clickPercent < .05) {
      clickPercent = 0;
    }
    audio.volume = clickPercent;
    $('#volume_level').width((clickPercent * 100)  + '%');
  });
  $('#trackerContainer').click(function(e) {
    var self = $(this);
    var offset = self.offset();
    var x = e.clientX - offset.left;
    var y = e.clientY - offset.top;
    var width = self.width();
    var clickPercent = (x / width);
    var toDuration = audio.duration * clickPercent;
    audio.currentTime = toDuration;
  });
});
</script>
{% endblock %}
