{% extends 'punkweb/base.html' %}
{% load static bbcode_tags thumbnail %}

{% block title %}Music | {{artist.name}}{% endblock %}

{% block main %}
<div class="main" style="margin-bottom: 140px;">
  <br><br>
  <a href="{% url 'music:index' %}">Back to Music</a>
  <div class="artistHeader">
    <div class="artistHeader__imgWrap">
      <img src="{{artist.image.url}}" />
    </div>
    <h1 class="artistHeader__artistName">{{artist.name}}</h1>
  </div>
  <h3>Latest Release</h3>
  <hr />
  <div class="albumList">
    <div class="albumContainer">
      <div class="albumImage">
        <a href="{% url 'music:album' latest_release.slug %}"><img src="{{latest_release.cover_art|thumbnail_url:'avatar'}}" alt="{{latest_release.title}}" /></a>
      </div>
      <h4 class="albumName"><a href="{% url 'music:album' latest_release.slug %}">{{latest_release.title}}</a></h4>
      <label>{{latest_release.release_date|date:'M j, Y'}}</label>
    </div>
  </div>
  <h3>Albums</h3>
  <hr />
  <div class="albumList">
    {% for album in albums %}
    <div class="albumContainer">
      <div class="albumImage">
        <a href="{% url 'music:album' album.slug %}"><img src="{{album.cover_art|thumbnail_url:'avatar'}}" alt="{{album.title}}" /></a>
      </div>
      <h4 class="albumName"><a href="{% url 'music:album' album.slug %}">{{album.title}}</a></h4>
      <label>{{album.release_date|date:'Y'}}</label>
    </div>
    {% endfor %}
  </div>
  <div class="artistAbout">
    <h3>About</h3>
    <hr />
    {% if artist.bio.rendered %}
    <p>{{artist.bio.rendered}}</p>
    {% else %}
    <p>This artist does not have a description yet.</p>
    {% endif %}
  </div>
  <div class="eventsSection">
    <h3>Upcoming Events</h3>
    <hr />
    {% if upcoming_events.count < 1 %}
    <p>This artist has no scheduled events.</p>
    {% else %}
    <div class="tableContainer">
      <table class="noBorderTable">
        <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for event in upcoming_events %}
          <tr>
            <td><a href="#"><img src="{{event.event_image|thumbnail_url:'avatar_smaller_no_crop'}}" alt=""></a> <span>{{event.venue}}, {{event.city}}</span></td>
            <td>{{event.event_date|date:'D, M j'}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  <div class="eventsSection">
    <h3>Past Events</h3>
    <hr />
    {% if past_events.count < 1 %}
    <p>This artist has no past events.</p>
    {% else %}
    <div class="tableContainer">
      <table class="noBorderTable">
        <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for event in past_events %}
          <tr>
            <td><a href="#"><img src="{{event.event_image|thumbnail_url:'avatar_smaller_no_crop'}}" alt=""></a></td>
            <td><span>{{event.venue}}, {{event.city}}</span></td>
            <td>{{event.event_date|date:'D, M j, Y'}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
