{% extends 'punkweb/base.html' %}
{% load static bbcode_tags thumbnail %}

{% block title %}Music | {{artist.name}}{% endblock %}

{% block main %}
<div class="main" style="margin-bottom: 140px;">
  <br><br>
  <a href="{% url 'music:index' %}">Back to Music</a>
  <div class="artistHeader">
    <div class="artistHeader__imgWrap">
      <img src="{{artist.image.url}}" />
    </div>
    <h1 class="artistHeader__artistName">{{artist.name}}</h1>
  </div>
  <h3>Albums</h3>
  <div class="albumList">
    {% for album in albums %}
    <div class="albumContainer">
      <div class="albumImage">
        <a href="{% url 'music:album' album.slug %}"><img src="{{album.cover_art|thumbnail_url:'avatar'}}" alt="{{album.title}}" /></a>
      </div>
      <h4 class="albumName"><a href="{% url 'music:album' album.slug %}">{{album.title}}</a></h4>
      <label>{{album.year|date:'Y'}}</label>
    </div>
    {% endfor %}
  </div>
  <div class="artistAbout">
    <h3>About</h3>
    <p>{{artist.bio}}</p>
  </div>
</div>
{% endblock %}
