{% extends 'punkweb/base.html' %}
{% load static bbcode_tags thumbnail %}

{% block title %}Music{% endblock %}

{% block main %}
<div class="main">
  <h1>Music</h1>
  <h3>Artists</h3>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th width="75px">Artist</th>
          <th></th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        {% for artist in artists %}
        <tr>
          <td>
            <img src="{{artist.image|thumbnail_url:'avatar_smaller'}}" alt="" />
          </td>
          <td>
            {{artist.name}}
          </td>
          <td>
            {{artist.genre}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h3>Albums</h3>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th width="75px">Album</th>
          <th></th>
          <th>Artist</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        {% for album in albums %}
        <tr>
          <td>
            <img src="{{album.cover_art|thumbnail_url:'avatar_smaller'}}" alt="" />
          </td>
          <td>
            {{album.title}}
          </td>
          <td>{{album.artist.name}}</td>
          <td>{{album.year|date:'Y'}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h3>Compilations</h3>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Created
          </th>
          <th>
            Updated
          </th>
        </tr>
      </thead>
      <tbody>
        {% for compilation in compilations %}
        <tr>
          <td>
            <a href="{% url 'music:audio_compilation' compilation.slug %}">{{compilation.title}}</a>
          </td>
          <td>
            {{compilation.created|date:'m/d/Y'}}
          </td>
          <td>
            {{compilation.modified|date:'m/d/Y'}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h3>Tracks</h3>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>
            Song
          </th>
          <th>
            Artist
          </th>
          <th>
            Album
          </th>
        </tr>
      </thead>
      <tbody>
        {% for track in audio %}
        <tr>
          <td>
            <a href="{% url 'music:audio' track.slug %}">{{track.title}}</a>
          </td>
          <td>
            {{track.album.artist.name}}
          </td>
          <td>
            {{track.album.title}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
</script>
{% endblock %}
