{% load compress static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Punkweb | {% block title %}Index{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block meta_description %}For the record, the music never stopped{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,400,600,700" rel="stylesheet">
    {% compress css %}
    <link href="{% static 'punkweb/css/elements.scss' %}" rel="stylesheet" type="text/x-scss" />
    {% endcompress %}
    <link type="text/css" href="{% static 'punkweb/css/stylesheet.css' %}" rel="stylesheet"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4375744853076348",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="flexContainer">
        {% block main %}{% endblock %}
      </div>
    </div>
    <script src="{% static 'punkweb_boards/js/deps/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'punkweb_boards/js/deps/lodash.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block extra_script %}{% endblock %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125324127-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125324127-1');
    </script>
  </body>
</html>
