{% load compress static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Punkweb | {% block title %}Index{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block meta_description %}For the record, the music never stopped{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static 'punkweb/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,400,600,700" rel="stylesheet">
    {% compress css %}
    <link href="{% static 'punkweb/css/elements.scss' %}" rel="stylesheet" type="text/x-scss" />
    {% endcompress %}
  </head>
  <body>
    <div class="container">
      {% block main %}{% endblock %}
    </div>
    <script src="{% static 'punkweb_boards/js/deps/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'punkweb_boards/js/deps/lodash.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block extra_script %}{% endblock %}
  </body>
</html>
