{% extends 'punkweb/game.html' %}
{% load static %}
{% block title %}Diablo{% endblock %}
{% block header %}<h1>Diablo</h1>{% endblock %}
{% block canvas %}<canvas id="diablo" height="600px" width="800px"></canvas>{% endblock %}
{% block content %}
<p>This game is being written to test what my game engine is capable of.  It is also my first try at writing an isometric game.</p>
<p>The engine and game code are both on github.</p>
<a href="https://github.com/shakedown-street/squire-ts">Engine Repo</a>
<a href="https://github.com/shakedown-street/diablo">Game Repo</a>
<h2>Controls</h2>
<ul>
  <li>Click/drag - set walk point.</li>
  <li>Space bar - strike</li>
  <li>'1' - powerup animation</li>
</ul>
{% endblock %}
{% block script %}<script type="text/javascript" src="{% static 'punkweb/js/diablo.js' %}"></script>{% endblock %}
