{% extends 'punkweb/base.html' %}
{% load static %}

{% block title %}Game{% endblock %}

{% block main %}
<div class="main">
  {% block header %}<h1>Game</h1>{% endblock %}
  <a href="{% url 'index' %}">Back to Punkweb</a>
  <div class="canvasContainer">
    {% block canvas %}<canvas id="game" height="600px" width="800px"></canvas>{% endblock %}
  </div>
  {% block content %}{% endblock %}
</div>
{% endblock %}

{% block nav %}{% endblock %}

{% block extra_script %}
{% block script %}<script type="text/javascript" src="{% static 'punkweb/js/game.js' %}"></script>{% endblock %}
{% endblock %}
