{% extends 'punkweb/base.html' %}
{% load static bbcode_tags thumbnail %}

{% block title %}Index{% endblock %}

{% block main %}
<div class="main">
  <h1>Punkweb</h1>
  <h2>Where did you come from?</h2>
  <p>How you ended up here doesn't matter! What matters is that you are here now. And you may or may not be an accomplice in plans for world domination.</p>
  <h2>What can you do here?</h2>
  <p>
    What can you do here? There is a collection of pretty cool <a href="{% url 'links:list' %}">links</a> under the navigation tab.
    There is a multitude of different things to choose from. From some of my favorite articles to very useful information.
    There is also a <a href="{% url 'board:index' %}">forum</a>, and a stream of different Dead <a href="{% url 'music:index' %}">music</a>.
  </p>
  <ul class="foot">
    <li><a target="_blank" href="http://www.freebsd.org">FreeBSD </a></li>
    <li> | </li>
    <li><a target="_blank" href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fpunkweb.net%2F"> Valid HTML </a></li>
  </ul>
</div>
{% endblock %}
