{% load static %}
<!DOCTYPE html>
<html>
<a target="_blank" href=""></a>
<head>
<title>Links</title>
<link type="text/css" href="{% static 'punkweb/css/stylesheet.css' %}" rel="Stylesheet"/>
<meta charset="utf-8">
</head>
 <body>
 <main>
	<h1>The Links Page</h1>
	<h2>Security</h2>
	<a target="_blank" href="https://mullvad.net/en/webrtc/">The Dangers of WebRTC</a>
	<a target="_blank" href="https://www.reddit.com/r/technology/comments/3twmfv/dell_ships_laptops_with_rogue_root_ca_exactly/">Dell Laptops Rogue Root CA</a>
	<a target="_blank" href="https://twopointfouristan.wordpress.com/2011/04/17/pwning-past-whole-disk-encryption/">Pwning Full Disk Encryption</a>
	<a target="_blank" href="http://dustymabe.com/2015/07/06/encrypting-more-boot-joins-the-party/">FDE with /boot</a>
	<a target="_blank" href="http://sanfrancisco.cbslocal.com/2016/05/13/hidden-microphones-exposed-as-part-of-government-surveillance-program-in-the-bay-area/">FBI Plants Public Microphones</a>
	<a target="_blank" href="http://www.healthcareitnews.com/news/hacker-patient-data-500000-children-stolen-pediatricians">500,000 Child Patient Records Stolen</a>
	<a target="_blank" href"https://www.theregister.co.uk/2017/05/05/intel_amt_remote_exploit/">Intel AMT Remote Exploit</a>
	<a target="_blank" href="https://arstechnica.com/information-technology/2017/05/in-a-throwback-to-the-90s-ntfs-bug-lets-anyone-hang-or-crash-windows-7-8-1/">NTFS Lets Anyone Hang or Crash Windows 7,8.1</a>
	<a target="_blank" href="http://www.zdnet.com/article/security-lapse-exposes-198-million-united-states-voter-records/">198 Million US Voting Records Exposed</a>
	<a target="_blank" href="https://threatpost.com/wikileaks-alleges-years-of-cia-d-link-and-linksys-router-hacking-via-cherry-blossom-program/126339/">CIA Router Hacking</a>

	<h2>Misc</h2>
	<a target="_blank" href="https://www.washingtonpost.com/news/the-switch/wp/2018/01/15/the-senates-push-to-overrule-the-fcc-on-net-neutrality-now-has-50-votes-democrats-say/?utm_term=.e03768e46f9d">Senate push to Overrule FCC Net Neutrality Decision</a>
	<a target="_blank" href="http://arstechnica.com/information-technology/2016/05/dronebuster-will-let-you-point-and-shoot-command-hacks-at-pesky-drones/">Anti Drone Gun</a>
	<a target="_blank" href="http://www.linuxandlife.com/2012/01/simple-guide-to-set-up-mpd-with-ncmpcpp.html">Configuring MPD and Ncmpcpp</a>
	<a target="_blank" href="http://notblog.org/install-and-configure-irssi/">Configuring Irssi</a>
	<a target="_blank" href="http://archive09.linux.com/feature/136147">Configuring Conky</a>
	<a target="_blank" href="http://www.raspberry-pi-geek.com/Archive/2013/02/Raspberry-Pi-as-a-Tor-router-and-web-filter">Raspberry Pi Tor Router</a>
	<a target="_blank" href="http://www.techlila.com/use-git-linux/">Using Git</a>
	<a target="_blank" href="https://www.wildcardcorp.com/blog/tor-torify-torsocks">Tor, Torify, Torsocks</a>
	<a target="_blank" href="https://wiki.archlinux.org/index.php/Rxvt-unicode">Rxvt-Unicode</a>
	<a target="_blank" href="https://wiki.archlinux.org/index.php/WPA_supplicant">Wpa Supplicant</a>
	<a target="_blank" href="http://crunchbang.org/forums/viewtopic.php?id=24722">The Paranoid Security Guide</a>
	<a target="_blank" href="http://www.nixers.net">Nixers</a>
	<a target="_blank" href="http://www.pacbsd.org">ArchBSD</a>
	<a target="_blank" href="http://www.textfiles.com">Textfiles</a>
	<a target="_blank" href="https://www.eff.org/deeplinks/2015/12/federal-court-appeals-rejects-notion-violating-your-employers-computer-use">Violating Employer Compter Use</a>
	<a target="_blank" href="http://www.theguardian.com/technology/2015/nov/30/pirate-bay-stockholm-district-court-sweden-refuses-order-isp-block-site">Sweden refuses to Order ISP to Block TPB</a>
	<a target="_blank" href="http://www.reuters.com/article/us-usa-cybersecurity-surveillance-idUSKCN0XR009">U.S. spy court rejected zero surveillance orders in 2015</a>
	<a target="_blank" href="https://www.privateinternetaccess.com/blog/2017/05/new-jersey-latest-state-introduce-internet-privacy-bill-protect-personally-identifiable-information/">NJ Introduces Internet Privacy Bill</a>
	<a target="_blank" href="https://www.independent.co.uk/news/uk/politics/theresa-may-internet-regulated-london-bridge-terror-attack-google-facebook-whatsapp-borough-security-a7771896.html">Theresa May Proposes Internet Regulation</a>
	<a target="_blank" href="https://www.krackattacks.com/#demo">WPA2 KRACK</a>
	<h2>My List of Favorite Tools</h2>
 	<a target="_blank" href="http://www.unix.com/man-page/FreeBSD/1/sed/">Sed</a>
	<a target="_blank" href="http://www.vim.org/">VIM</a>
	<a target="_blank" href="http://www.unix.com/man-page/freebsd/1/awk/">AWK</a>
	<a target="_blank" href="http://www.unix.com/man-page/FreeBSD/8/jail/">Jails</a>
	<a target="_blank" href="http://www.unix.com/man-page/FreeBSD/1/dd/">dd</a>


	<h2>Great Resources</h2>
	<a target="_blank" href="https://www.freebsd.org/doc/en/books/handbook/">The FreeBSD Handbook</a>
	<a target="_blank" href="http://www.freshports.org/">Fresh Ports</a>
	<a target="_blank" href="https://wiki.archlinux.org/">The Arch Wiki</a>
	<a target="_blank" href="http://it-ebooks.info/">IT Ebooks</a>
	<a target="_blank" href="http://www.freebsdonline.com">FreeBSDonline</a>

	<h2>RFID</h2>
	<a target="_blank" href="http://www.rfid-101.com/">RFID 101</a>
	<a target="_blank" href="http://www.rfid-101.com/rfid-readers.htm">Tag Reader</a>
	<a target="_blank" href="http://pikiosk.tumblr.com/post/51812205794/07-reading-rfid-tags-with-the-raspberry-pi">Reading RFID Tags With The Raspberry Pi</a>

	<h2>Beowulf Cluster</h2>
	<a target="_blank" href="https://www.linux.com/community/blogs/133-general-linux/9401">Building a Cluster</a>
	<a target="_blank" href="http://www.calvin.edu/~adams/research/microwulf/">Microwulf</a>
	<a target="_blank" href="http://www.mcsr.olemiss.edu/bookshelf/articles/how_to_build_a_cluster.html#Step1">Building a Beowulf Cluster</a>

	<h2>Cyberpunk</h2>

	<a target="_blank" href="http://www.cyberpunkforums.com/">Cyberpunk Forums</a>
 </main>

 <nav>
   <p id="navh">Navigation</p>
   <ul>
     <li><a href="{% url 'index' %}">Home</a></li>
     <li><a href="{% url 'pgp' %}">PGP Key</a></li>
     <li><a href="{% url 'board:index' %}">Forum</a></li>
   </ul>
 </nav>
 </body>

</html>
