{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Punkweb | {% block title %}Music{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block meta_description %}For the record, the music never stopped{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <style media="screen">
      html, body {
        background-color: #282828;
        color: white;
        font: normal normal 16px sans-serif;
        text-shadow: 1px 1px 10px #000000;
        margin: 0;
        padding: 0;
        height: 100%;
      }
      h1, h2, h3, h4, h5, h6 {
        margin: 1rem 0;
      }
      * {
        box-sizing: border-box;
      }
      a {
        color: #FF2F00;
      }
      .container {
        background-color: #404040;
        max-width: 1056px;
        padding: 1rem;
        margin: 0 auto;
        min-height: 100%;
      }
      .canvasContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
      }
      canvas {
        border: 1px solid black;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Music</h1>
      <a href="{% url 'index' %}">Back to homepage</a>
      <p>Here is a collection of song demo's that I created in FL Studio 20 in alphabetical order.</p>
      <p>I am an intermediate guitar player, but completely new to producing music.</p>
      <br />
      <h1>Featured</h1>
      <h2>1. Strat Test</h2>
      <p>I recorded this song within 20 minutes of bringing my new strat home, and I think it turned out to be one of my best improv recordings so far.
        Needless to say I'm pretty happy with this $120 strat.</p>
      <p>As for the beat, it's very simple on this one.  Just pretty basic drums, and then a bass line playing a standard blues progression.</p>
      <audio controls src="{% static 'punkweb/music/5minStrat.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h2>2. One Take</h2>
      <p>I made a simple loop consisting of drums, bass and piano, then I recorded an extended jam over it.
        The guitar was a single take after practicing for about 15 minutes, no cuts/retakes.  There are plenty of mistakes but that's part of the fun, I think the first lead solo (starting at about 1:30) was definitely the highlight.
      </p>
      <p>In this particular project I experimented more with the drum loop than on most of my songs.
        I also experimented with the riff machine, to make the fake instruments sound more like a human is playing them.</p>
      <audio controls src="{% static 'punkweb/music/onetake.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br /><br /><br /><br />
      <h1>Alphabetical</h1>
      <h3>Badhassery</h3>
      <p>One of my first attempts at creating a "full band" loop in FL Studio.  This is all fake instruments, and uses only the FL Studio legacy instrument pack.</p>
      <audio controls src="{% static 'punkweb/music/badhassery.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <h3>Blues Jam</h3>
      <p>An extended jam of a simple blues progression.  Heavy distortion, large reverb.
         The lead guitar was one take, warts and all, (though you may hear where it skips in a few places) and the rhythm was looped.</p>
      <audio controls src="{% static 'punkweb/music/bluesjam.wav' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h3>Big River</h3>
      <p>A kind of homage to Big River by Johnny Cash as covered by the Grateful Dead.  I recorded the guitars, and made everything else in FL Studio.</p>
      <p>In this one I experimented a lot with different panning settings, full band mastering, and double tracking.</p>
      <audio controls src="{% static 'punkweb/music/bigriver.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h3>Big River (backing track)</h3>
      <p>An extended version of above, without the lead guitar.</p>
      <audio controls src="{% static 'punkweb/music/bigriver-backingtrack.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h3>First</h3>
      <p>This is my first simple loop I created in FL Studio.  Sounds kind of hip-hop ish aside from the "real" drum kit.</p>
      <audio controls src="{% static 'punkweb/music/first.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h3>Orchestral</h3>
      <p>An experiment using the FL Studio orchestral instruments from the default instrument pack.</p>
      <audio controls src="{% static 'punkweb/music/orchestral.wav' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <p></p>
      <h3>Saturday Night</h3>
      <p>The cheesiest of all my songs.  Uses only the FL Studio legacy instrument pack.  A homage to One More Saturday Night by the Grateful Dead.</p>
      <audio controls src="{% static 'punkweb/music/saturdaynight.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <p></p>
      <h3>Shiety Blues</h3>
      <p>A simple blues progression.  Uses only the FL Studio legacy instrument pack.</p>
      <audio controls src="{% static 'punkweb/music/shietyblues.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h3>Shiety Shooter</h3>
      <p>This was made for the game "Shiety Shooter" (<a href="{% url 'shietyshooter' %}">here</a>).  It was also the first song I tracked real guitars in.</p>
      <audio controls src="{% static 'punkweb/music/shietyshooter.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h3>Wah Jam Track</h3>
      <p>A blues jam track in the key of A.  This is the first good recording I've gotten featuring my auto-wah pedal.  The guitars are double tracked and panned to both ears.</p>
      <audio controls src="{% static 'punkweb/music/wahjamtrack.mp3' %}">
        Your browser does not support the audio element.
      </audio>
      <br /><br /><br />
      <h3>Wah Jam Track (reverb)</h3>
      <p>The same as the wah jam track, but with a lot of reverb.</p>
      <audio controls src="{% static 'punkweb/music/wahjamtrack-reverb.mp3' %}">
        Your browser does not support the audio element.
      </audio>
    </div>
  </body>
</html>
