{% load static %}
<!DOCTYPE html>
<html>

<head>
<title>PGP</title>
<link type="text/css" href="{% static 'punkweb/css/stylesheet.css' %}" rel="Stylesheet"/>
<meta charset="utf-8">
</head>
 <body>
 <main>
	<h1>PGP Key for deadhead@airmail.cc</h1>

	<p class="pgp">

</p>
 </main>
 <nav>
   <p id="navh">Navigation</p>
   <ul>
     <li><a href="{% url 'board:index' %}">Forum</a></li>
     <li><a href="{% url 'music:index' %}">Music</a></li>
     <br />
     <h5>DannyClemito</h5>
     <li><a href="{% url 'links:list' %}">Links</a></li>
     <li><a href="{% url 'pgp' %}">PGP Key</a></li>
     <br />
     <h5>JackStraw</h5>
     <li><a href="{% url 'game' %}">Shiety Shooter</a></li>
     <li><a href="{% url 'diablo' %}">Diablo</a></li>
   </ul>
 </nav>
 <script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script></body>
<p>
-----BEGIN PGP PUBLIC KEY BLOCK-----
<br>
mQENBFnlC3kBCACdwnJPNDxRpIR+FUTzigHEsGftKdDh5ZZ4KsJCHJMYqx06LcV7
FuD7I1MmAi0YNASiMvXxGCLyM/OZsSf0AxYB7xAyGoWUDM2c6pPmKCdLT8+ZsXpH
ZX1w3epQEfjHZU+rvgMntFOyQDvlerFIWH8jv8R5+iJOtM6CzPvIYkEN1T2kKyv3
<br>
i5bGhsIRGrhdooec+AhNvLFaiVHU0WfHny3j2tWMah8Eh14jtjoz/q/AWlki40x1
Y+e2Dc2w36u12GDYRy8SoN2f2EcK18ATiskVl8f0S9lzHZku/ILkjF+J/cjpYkpd
3C5F+vm4/IU3CmwJ2WD1rwBn9xMvtKyBy+OrABEBAAG0HmRlYWRoZWFkIDxkZWFk
aGVhZEBhaXJtYWlsLmNjPokBVwQTAQgAQQIbAwUJA8JnAAULCQgHAgYVCAkKCwIE
FgIDAQIeAQIXgBYhBIOqw6EtH438aQplk1eZ7EMijxosBQJZ5QzBAhkBAAoJEFeZ
<br>
7EMijxosqacH/2XTplRf03eqoluinODNW7ZULwUHLurM4V5iap/I6zt2aJZKCGWr
<br>
/bE3xBA7jXv+ozBfPs1OBtjL0Xm2vhaGpH4F3cA4I4d/qxdjAAgaYBD55722x7dX
zIW7WUgtFwM2vhvDOn6Apyr7tUVx2eZzOa9kLybqnZWFS+yMjUVOmMDwnxUktAOw
ke1IBhRNWCEVXMg9Q1kwC1xqENfeJJdyU2RFftniD9f8lLBnCsBD9hy/YVHIUEyy
LyiQy6Rg0Ln4BuXNmT2v5oV09PPBg+sv8qQW8d5tzHTjuTNkJUNSzzd/PIV2RwZm
oXFnFiTtriupQAiXF6tKErfKt7hrdGTTWAm5AQ0EWeULeQEIALYQYL+58DVbg6S3
nw1whSCkGb842o3rU65tuRijfhmjtld+fRLi3E5dNX8zJe1KxW/D2+KiHPj1dtDw
z4ML24Ding+4z2lVauia74OWnWsdQibYBdzIWZ31jkVJxPjpIGzAARheLorXUPK4
+rCd/Ewbh5OUUSGzUwrMVqw+fDMCb4YLXByRBCT8TeU5FkiqbYzQICy81JrnSxOf
Xg9atsZAzFzgn+Mg9EpKgpBxDVEdkoJ67VRrkiuwKlhIgYLwdrIngG4X/tLNeMeh
3zcVLXqcKH4qsVyUyzV8WFu9mO+XcucKpkJBlEJ72r+4LvfquGa2YtMPDyD0W6aS
xWr5IcsAEQEAAYkBPAQYAQgAJhYhBIOqw6EtH438aQplk1eZ7EMijxosBQJZ5Qt5
AhsMBQkDwmcAAAoJEFeZ7EMijxos9rwIAIgmSVwTWGidzmC6a8eauF5fu+h6Yj8N
F+YNDZMRSMA+rznsy2VJ7oZVZhuVbYNCg9wn5ydyBbCROiB/3jnn9UWOO54hgnuC
VaUQVQx9QZvqh1gXiXno22Vx7VNRFvSj+FXSS+PB6Ou8iCg27zngoqNTdh3Y+JAU
M3W++VGnyWvL4eAHtC7wayjpC4x5+NHNMWecE2aFAEd4fiXZO3nnj79kmvUNyFPt
3uHCl6oYjrooitAAExpMHQfyggmrZHJsDD7GjFV/DPtUdFqUzu0vca8vhl1wN90H
Cstqe1oqofIdZUMgjBpqxmAdQXTiH/17RuZ+EYN+VNAmo7SpTxWmWFY=
<br>
=aCae
<br>
-----END PGP PUBLIC KEY BLOCK-----
</p>
<h1>XMPP</h1>
<p>deadhead@airmail.cc<p>
I only use OTR for xmpp.

</p>
<script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script></html>
